@charset "UTF-8";
p {
  color: black;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: justify;
}

.subtitulo-80px {
  font-size: 80px;
  color: #008b8b;
  text-align: center;
  margin-top: 50px;
}

.subtitulo-50px {
  font-size: 50px;
  color: #008b8b;
  text-align: center;
  margin-top: 50px;
}

.subtitulo-40px {
  font-size: 40px;
  color: #008b8b;
  text-align: center;
  margin-top: 50px;
}

/*------------------------------------ ANIMACIÓN I  ------------------------------------ */
.zoomImg {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.zoomImg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*------------------------------------ ANIMACIÓN TÍTULOS  ------------------------------------ */
.zoom {
  font-size: 2.5rem;
  color: #008b8b;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
  text-align: center;
  padding: 20px;
}

.zoom:hover {
  color: #e74979;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.linea::before {
  content: "----------------------";
  color: #e74979;
}

.linea::after {
  content: "----------------------";
  color: #e74979;
}

/* ------------------------------------- HTML PREG FRECUENTES ----------------------------------------- */
.pregFre {
  color: black;
  font-size: 1.88rem;
  font-weight: bolder;
}

/* LOGO */
.logo {
  display: block;
  margin: auto;
}

/* IMG FONDO GENERAL */
header {
  background-image: url(../imagenes/fondo2.png);
  background-size: 100vw 100vh;
  background-position: center;
}

header div img {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}

/*  TÍTULO Y SUBTITULO  */
h1 {
  color: #e74979;
  font-size: 5rem;
  text-align: center;
}

h2 {
  color: #008b8b;
  font-size: 1.88rem;
}

nav * {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74979), to(#eea7bb));
  background: linear-gradient(to top, #e74979, #eea7bb);
  font-size: 1.25rem;
  font-weight: bold;
}

.btnRosa {
  background-color: #eea7bb;
}

nav a img {
  width: 35px;
}

#menu #item a:hover {
  background: #eea7bb;
  color: #030203;
  -webkit-animation: 1s ms 1;
          animation: 1s ms 1;
  -webkit-animation-name: animacionMenu;
          animation-name: animacionMenu;
}

/* para la animacion */
@-webkit-keyframes animacionMenu {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}
@keyframes animacionMenu {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

footer {
  position: absolute;
  margin: 0;
  width: 100%;
  height: auto;
}

.textoFooter {
  color: #f4f3ee;
  font-size: 1.88rem;
  text-align: center;
}

.fondoFooter {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38dac), to(#eea7bb));
  background: linear-gradient(to bottom, #f38dac, #eea7bb);
}

.texto {
  color: #030203;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
}

footer div img {
  width: 100px;
  height: 100px;
  display: block;
  margin: initial;
  margin-left: auto;
  margin-right: auto;
}

.imagenLinks {
  float: left;
  width: 50px;
  height: 50px;
}

/* CUERPO 3 VIDEO Y CUADRO CON FRASE */
.cuadroFrase {
  text-align: center;
  background: #eea7bb;
  margin: 60px auto;
  padding: 10px;
  position: relative;
}

.textoP {
  color: #f4f3ee;
  font-size: 1.88rem;
  text-align: center;
  padding: 10px;
}

article div::before {
  background: #f38dac;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

article div::after {
  background: #e74979;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

article div::before, article div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

/* CUERPO 4 MAS ELEGIDOS */
h5 {
  color: #6b705c;
}

h2 {
  color: #008b8b;
  font-size: 3.12rem;
}

.modeloSub {
  padding: 10px;
  color: #008b8b;
  font-size: 3.12rem;
  text-align: center;
  font-style: italic;
}

.zoomImg:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.imgProductos {
  text-align: center;
  width: 300px;
  height: 390px;
  display: inline;
  margin: 5px;
}

.cuadrada {
  text-align: center;
  width: 390px;
  height: 390px;
  display: inline;
  margin: 5px;
}

.fondoTransparente {
  background-color: #7ecabc;
  opacity: .4;
  padding: 10px;
  border-radius: 10px;
}

form {
  margin: auto;
  width: 50%;
  height: auto;
}

.subtitulo-40px {
  font-size: 2.5rem;
  color: #008b8b;
  text-align: center;
  margin-top: 20px;
}

.btnTurquesa {
  background-color: #eea7bb;
}

.letra {
  color: #e74979;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
}

.textoForm {
  color: #030203;
  font-size: 2rem;
  text-align: initial;
}

textarea {
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.texFinal {
  color: #030203;
  font-size: 1.8rem;
  text-align: center;
  margin: 100px;
}

.colorTabla {
  background-color: #7ecabc;
}

/*------------------------------------ COMÚN TODAS PÁGINAS  ------------------------------------ */
@font-face {
  font-family: "Modelo Mayuscula";
  src: url("../fuentes/DK Lemon Yellow Sun.otf");
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Modelo Mayuscula";
  margin: 0;
}
/*# sourceMappingURL=principal.css.map */