@charset "UTF-8";
/* ------------------------------------- SCSS PRINCIPAL ----------------------------------------- */
/* ------------------------------------- GENERAL (COMÚN EN ALGUNAS PÁGINAS)----------------------------------------- */
/* ------------------------------------- LETRAS ----------------------------------------- */
p {
  color: #030203;
  font-size: 1.25rem;
}

.modeloh1 {
  color: #e74979;
  font-size: 5rem;
  text-align: center;
}

.letra {
  color: #e74979;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
}

.subtitulo-80px {
  font-size: 80px;
  color: #008b8b;
  text-align: center;
  margin-top: 50px;
}

.subtitulo-50px {
  font-size: 50px;
  color: #008b8b;
  text-align: center;
  margin-top: 50px;
}

.subtitulo-40px {
  font-size: 40px;
  color: #008b8b;
  text-align: center;
  margin-top: 50px;
}

/* ------------------------------------- PLACEHOLDER ----------------------------------------- */
#menu::-webkit-input-placeholder {
  color: #030203;
}
#menu:-ms-input-placeholder {
  color: #030203;
}
#menu::-ms-input-placeholder {
  color: #030203;
}
#menu::placeholder {
  color: #030203;
}

#formulario::-webkit-input-placeholder {
  color: #030203;
}

#formulario:-ms-input-placeholder {
  color: #030203;
}

#formulario::-ms-input-placeholder {
  color: #030203;
}

#formulario::placeholder {
  color: #030203;
}

/*------------------------------------ ANIMACIÓN I  ------------------------------------ */
.animacionTitulosImg:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

/*------------------------------------ ANIMACIÓN TÍTULOS  ------------------------------------ */
.animacionTitulos {
  font-size: 2.5rem;
  color: #008b8b;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
  text-align: center;
  padding: 20px;
}

.animacionTitulos:hover {
  color: #e74979;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lineaTurquesa {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 5px solid #008b8b;
}

.lineaRosa {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 5px solid #e74979;
}

/* ------------------------------------- HTML PREG FRECUENTES ----------------------------------------- */
.pregFre {
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* ------------------------------------- BOTONOES ----------------------------------------- */
.btnTurquesa {
  background-color: #008b8b;
}

.btnRosa {
  background-color: #ea7bbe;
}

div form button {
  background-color: #008b8b;
}

.botonn {
  background-image: url(../imagenes/carrito.jpg);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-position: center;
}

/* ------------------------------------- PRODUCTOS ----------------------------------------- */
.imgProductos {
  text-align: center;
  width: 350px;
  height: 450px;
  display: inline;
  margin: 5px;
}

/* ------------------------------------- COLORES ----------------------------------------- */
/* LOGO */
.logo {
  display: block;
  margin: auto;
}

/* ------------------------------------- HEADER ----------------------------------------- */
/* IMG FONDO GENERAL */
header {
  background-image: url(../imagenes/fondo.jpg);
  background-size: 100vw 100vh;
  background-position: center;
}

header div img {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}

/*  TÍTULO Y SUBTITULO  */
h1 {
  color: #e74979;
  font-size: 5rem;
  text-align: center;
}

h2 {
  color: #008b8b;
  font-size: 1.88rem;
}

/* ------------------------------------- MENU/NAV ----------------------------------------- */
nav {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74979), to(#ea7bbe));
  background: linear-gradient(to top, #e74979, #ea7bbe);
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.colorNav {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74979), to(#ea7bbe));
  background: linear-gradient(to top, #e74979, #ea7bbe);
  font-size: 1.25rem;
  font-weight: bold;
}

nav a img {
  width: 35px;
}

#menu #item a:hover {
  background: #ea7bbe;
  color: #030203;
  -webkit-animation: 1s ms 1;
          animation: 1s ms 1;
  -webkit-animation-name: animacionMenu;
          animation-name: animacionMenu;
}

/* para la animacion */
@-webkit-keyframes animacionMenu {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}
@keyframes animacionMenu {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* ------------------------------------- FOOTER ----------------------------------------- */
footer {
  position: absolute;
  margin: 0;
  width: 100%;
  height: auto;
}

.tituloFooter {
  color: #f4f3ee;
  font-size: 1.88rem;
  text-align: center;
}

.fondoFooter {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38dac), to(#ea7bbe));
  background: linear-gradient(to bottom, #f38dac, #ea7bbe);
}

.textoFooter {
  color: #030203;
  font-size: 1.25rem;
  line-height: 30px;
  text-align: center;
}

footer div img {
  width: 100px;
  height: 100px;
  display: block;
  margin: initial;
  margin-left: auto;
  margin-right: auto;
}

.imagenLinks {
  float: left;
  width: 50px;
  height: 50px;
}

.imagenFooter {
  float: left;
  width: 100px;
  height: 100px;
}

/* ------------------------------------- INDEX ----------------------------------------- */
/* CUERPO 3 VIDEO Y CUADRO CON FRASE */
.cuadroFrase {
  text-align: center;
  background: #ea7bbe;
  margin: 60px auto;
  padding: 10px;
  position: relative;
}

.textoP {
  color: #f4f3ee;
  font-size: 1.88rem;
  text-align: center;
  padding: 10px;
}

.textoT {
  color: #f4f3ee;
  font-size: 2.2rem;
  text-align: center;
  padding: 10px;
}

.textoNegro {
  color: #030203;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
}

.tituloEmergente {
  color: #e74979;
  font-size: 2rem;
  text-align: center;
}

.textoEmergente {
  color: #030203;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.textoEmergente1 {
  color: #030203;
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
}

article div::before {
  background: #f38dac;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

article div::after {
  background: #e74979;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

article div::before, article div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

/* CUERPO 4 MAS ELEGIDOS */
.ver {
  font-size: 1.5rem;
  color: #f4f3ee;
}

h4 {
  color: #6b705c;
  font-size: 1.5rem;
}

h2 {
  color: #008b8b;
  font-size: 3.12rem;
  position: relative;
}

.modeloh4 {
  color: #6b705c;
  text-align: center;
  font-size: 1.5rem;
}

.modeloSub {
  padding: 10px;
  color: #008b8b;
  font-size: 3.12rem;
  text-align: center;
  font-style: italic;
}

.zoomImg:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

/* ------------------------------------- PRODUCTOS ----------------------------------------- */
.cuadrada {
  text-align: center;
  width: 390px;
  height: 390px;
  display: inline;
  margin: 5px;
}

.rectangular {
  text-align: center;
  width: 450px;
  height: 390px;
  display: inline;
  margin: 5px;
}

/* ------------------------------------- CONTACTANOS ----------------------------------------- */
.fondoTransparente {
  background-color: rgba(69, 198, 227, 0.3);
  padding: 10px;
  border-radius: 10px;
}

form {
  margin: auto;
  width: 50%;
  height: auto;
}

.subtitulo40px {
  font-size: 2.5rem;
  color: #008b8b;
  text-align: center;
  margin-top: 20px;
}

.textoForm {
  color: #030203;
  font-size: 1.5rem;
  text-align: initial;
}

.texFinal {
  color: #030203;
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
}

/* ------------------------------------- CARRITO DE COMPRAS ----------------------------------------- */
.tamanio {
  margin: auto;
  width: 50%;
  height: auto;
}

/*------------------------------------ COMÚN TODAS PÁGINAS  ------------------------------------ */
@font-face {
  font-family: "Modelo Mayuscula";
  src: url("../fuentes/DK Lemon Yellow Sun.otf");
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Modelo Mayuscula";
  margin: 0;
}

.fondo {
  background-image: url(../imagenes/fondo.jpg);
}
/*# sourceMappingURL=principal.css.map */