/* ------------------------------------- CARRITO DE COMPRAS ----------------------------------------- */

.tamanio{
    margin: auto;
    width: 50%;
    height: auto;
}

.imgCarrito{
    text-align: center;
    width: 150px;
    height: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color:#3dccc7;
    vertical-align: none;
}