/* ------------------------------------- COLORES ----------------------------------------- */

$rosa-fuerte:#e74979;
$rosa-medio:#f38dac;  
$rosa-claro:#ea7bbe;

$turquesa-fuerte:#008b8b;
$turquesa-medio:#3dccc7;
$turquesa-claro:#b3dfd7;

$blanco:#f4f3ee; 
$negro:#030203;
$gris:#6b705c;

