/* ------------------------------------- GENERAL (COMÚN EN ALGUNAS PÁGINAS)----------------------------------------- */

/* ------------------------------------- LETRAS ----------------------------------------- */
p{
    color:#030203;
    font-size: 1.25rem;
}

.modeloh1{
    color:#e74979;
    font-size: 5rem;
    text-align: center;
}

.letra{
    color:#e74979;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 10px;
}

@each $size in 80px, 50px, 40px,{
    .subtitulo-#{$size}{
        font-size: $size;
        color: #008b8b;
        text-align: center;
        margin-top: 50px;
    }
}
/* ------------------------------------- PLACEHOLDER ----------------------------------------- */
#menu::placeholder{
    color:#030203;
}

#formulario::placeholder{
    color:#030203;
}

/*------------------------------------ ANIMACIÓN I  ------------------------------------ */
.animacionTitulosImg:hover{
    filter: opacity(.5);
}

/*------------------------------------ ANIMACIÓN TÍTULOS  ------------------------------------ */
.animacionTitulos{
    font-size: 2.5rem;
    color: #008b8b;
    transition: width 2s, height 2s, transform 2s;
    text-align: center;
    padding: 20px;
    &:hover{
        color: #e74979;
        transform : scale(1);
    }
}

.lineaTurquesa{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 5px solid #008b8b;
}

.lineaRosa{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 5px solid #e74979;
}

/* ------------------------------------- HTML PREG FRECUENTES ----------------------------------------- */
.pregFre{
    color: black;
    font-size: 1.5rem;
    font-weight:bolder;
}


/* ------------------------------------- BOTONOES ----------------------------------------- */

.btnTurquesa{
    background-color:#008b8b; 
}

.btnRosa{
    background-color:#e74979;
}

div form button{
    background-color:#008b8b; 
}

.botonn{
    background-image:url(../imagenes/carrito.jpg);
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    background-size: 50px 50px;
    background-position:center;
}// boton de carrito de compras en los productos

/* ------------------------------------- PRODUCTOS ----------------------------------------- */

.imgProductos{
    text-align: center;
    width: 350px;
    height: 450px;
    display:inline;
    margin:5px ;
}