/* LOGO */
.logo{
    display:block;
    margin:auto;
}

/* ------------------------------------- HEADER ----------------------------------------- */

/* IMG FONDO GENERAL */
header{
    background-image:url(../imagenes/fondo.jpg);
    background-size: 100vw 100vh;
    background-position: center;
}
header div img{
    width: 400px;
    height: 400px;
    display:block;
    margin:auto;
}

/*  TÍTULO Y SUBTITULO  */

h1{
    color: $rosa-fuerte;
    font-size: 5rem;
    text-align: center;
}

h2 {
    color:$turquesa-fuerte;
    font-size: 1rem;
    text-align: center;
}

/* Por debajo de 700px */
@media screen and (max-width: 700px){
    h1{
        font-size:52px;
}
}

@media screen and (max-width: 700px){
    h2{
        font-size:20px;
    }
}

/* Por debajo de 400px */
@media screen and (max-width: 400px){
    h1{
        font-size:50px;
    }
}

@media screen and (max-width: 400px){
    h2{
        font-size:18px;
    }
}