/* LOGO */
.logo{
    display:block;
    margin:auto;
}

/* IMG FONDO GENERAL */
header{
    background-image:url(../imagenes/fondo2.png);
    background-size: 100vw 100vh;
    background-position: center;
}
header div img{
    width: 400px;
    height: 400px;
    display:block;
    margin:auto;
}

/*  TÍTULO Y SUBTITULO  */

h1{
    color: $rosa-fuerte;
    font-size: 5rem;
    text-align: center;
}

h2 {
    color:$turquesa-fuerte;
    font-size: 1.88rem;
}


