/* CUERPO 3 VIDEO Y CUADRO CON FRASE */

.cuadroFrase{
    text-align: center;
    background: linear-gradient(to bottom, $rosa-fuerte, $rosa-claro);
    width:100%;
    height:auto;
    border: 5px solid  #c86180;
}
.cuadroFrase--nueva{
    @extend .cuadroFrase;
    color: #f4f3ee;
    font-size: 1.88rem;
    text-align: center; 
    padding: 10px;
}


/* CUERPO 4 MAS ELEGIDOS */
h5{
    color: $gris;
}

h2 {
    color: #008b8b;
    font-size: 3.12rem;
}

.modeloSub{
    padding: 10px;
    color: $turquesa-fuerte;
    font-size: 3.12rem;
    text-align: center;
    font-style: italic;
}

.zoomImg{
    transition: transform .2s; 
}
.zoomImg:hover{
    transform: scale(1.2);
}
