/* CUERPO 3 VIDEO Y CUADRO CON FRASE */
.cuadroFrase{
    text-align: center;
    background: $rosa-claro;
    margin: 60px auto;
    padding: 10px;
    position: relative;
}

.textoP{
    color: $blanco;
    font-size: 1.88rem;
    text-align: center; 
    padding: 10px;
}
.textoT{
    color: $blanco;
    font-size: 2.2rem;
    text-align: center; 
    padding: 10px;
}

.textoNegro{
    color: $negro;
    font-size: 1.8rem;
    text-align: center; 
    padding: 10px;
}

.tituloEmergente{
    color:$rosa-fuerte;
    font-size: 2rem;
    text-align: center;
}

.textoEmergente{
    color: $negro;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center; 
    padding: 0;
}

.textoEmergente1{
    color: $negro;
    font-size: 1.2rem;
    text-align: center; 
    padding: 0;
}
article div::before{
    background: $rosa-medio;
    transform: rotate(6deg);
}
article div::after{
    background: $rosa-fuerte;
    transform: rotate(-6deg);
}
article div::before, article div::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
/* CUERPO 4 MAS ELEGIDOS */
.ver{
    font-size: 1.5rem;
    color: $blanco;
}

h4{
    color: $gris;
    font-size: 1.5rem;
}

h2 {
    color:$turquesa-fuerte;
    font-size: 3.12rem;
    position: relative;
}

.modeloh4{
    color: $gris;
    text-align: center;
    font-size: 1.5rem;
}

.modeloSub{
    padding: 10px;
    color: $turquesa-fuerte;
    font-size: 3.12rem;
    text-align: center;
    font-style: italic;
}

.zoomImg:hover{
    filter: opacity(.5);
}

.botonn{
    background-image:url(../imagenes/carrito.jpg);
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    background-size: 50px 50px;
    background-position:center;
}