/* ------------------------------------- MENU/NAV ----------------------------------------- */

nav{
    background: linear-gradient(to top, #e74979, #ea7bbe);
    font-size: 1.25rem;
    font-weight: bold;
    margin:0; 
    padding:0; 
}

.colorNav {
    background: linear-gradient(to top, #e74979, #ea7bbe);
    font-size: 1.25rem;
    font-weight: bold;
}

nav a img{
    width: 35px;
}

#menu #item a:hover{
    background: #ea7bbe;
    color:$negro;
    animation: 1s ms 1;
    animation-name: animacionMenu;
}
/* para la animacion */
@keyframes animacionMenu{
    0%{
        opacity:0;
        transform: scale(1.6);
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}