/* ------------------------------------- BOTONOES ----------------------------------------- */
.accordion-button:not(.collapsed) {
    color:#030203;
    background-color:#b3dfd7;
    box-shadow: inset 0 -1px 0 rgb (0 0 0 / 13%);
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #3dccc7;
}