.imgProductos{
    text-align: center;
    width: 350px;
    height: 450px;
    display:inline;
    margin:5px ;
}
.cuadrada{
    text-align: center;
    width: 390px;
    height: 390px;
    display:inline;
    margin:5px ;
}
.rectangular{
    text-align: center;
    width: 450px;
    height: 390px;
    display:inline;
    margin:5px ;
}


