/* ------------------------------------- PRODUCTOS ----------------------------------------- */
.cuadrada{
    text-align: center;
    width: 390px;
    height: 390px;
    display:inline;
    margin:5px ;
}
.rectangular{
    text-align: center;
    width: 450px;
    height: 390px;
    display:inline;
    margin:5px ;
}
/* ------------------------------------- PROXIMAMENTE ----------------------------------------- */
.proximamente{
    font-size: 4rem;
    color:#e74979;
    transition: width 2s, height 2s, transform 2s;
    text-align: center;
    padding: 20px;
    text-transform:uppercase;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

